[Unit]
Description=Renew TLS certificates for Manga website
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/manga/deployment/renew_certificates.sh
User=root
Group=root
